###############################
# Git Line Endings            #
###############################

# Set default behaviour to automatically normalize line endings.
* text=auto

# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf

# KiCad .mod files on all systems must be eol=lf
*.mod text eol=lf

###############################
# Git Large File System (LFS) #
###############################

# For now no LFS, add: "filter=lfs diff=lfs merge=lfs" to each below

# Archives
*.7z binary
*.br binary
*.gz binary
*.tar binary
*.zip binary

# Documents
*.pdf binary

# Images
*.gif binary
*.ico binary
*.jpg binary
*.pdf binary
*.png binary
*.psd binary
*.webp binary

# 3d Files
*.wrl   -diff
*.png   binary
*.step  binary
*.stp   binary
*.STEP  binary
*.STP   binary
*.wings binary
*.svg   binary

# Fonts
*.woff2 binary

# Other
*.exe binary
*.pyc   binary
*.pack  binary
